@import '../../common/variables.scss';
//-----------------------------------------


//-----------------------------------------vars


//-----------------------------------------vars


//-----------------------------------------styles

.about {

    position: relative;
    z-index: -1;
}

.aboutText {
    max-width: 1146px;
    text-align: center;
    @include adaptive-font(20, 14, 1440);

    flex-wrap: wrap;
    margin: 0 auto;

}

.firstPart {
    text-wrap: nowrap;
}


.image {
margin: 0 auto;
    padding-top: 10px;
    font-size: 38px;
    vertical-align: bottom;
}