@import '../../common/variables.scss';
//-----------------------------------------


//-----------------------------------------vars


//-----------------------------------------vars


//-----------------------------------------styles

.works {
    transition: all 0.3s ease 0s;
    height: 100%;
    perspective: 1000px;
    @include adaptive-value('padding-bottom', 220, 100, 1920);
}

.wrapper {
    margin: 0 auto;
    max-width: 900px;
}

.container {
    @extend %displayComplect;
    padding: 40px 40px;

}