@import '../../common/variables.scss';
//-----------------------------------------


//-----------------------------------------vars


//-----------------------------------------vars


//-----------------------------------------styles

.works {
margin: 0 auto;
    transition: all 0.3s ease 0s;
    perspective: 1000px;

}

.wrapper {
    margin: 0 auto;

}

.container {
    @extend %displayComplect;
    @include adaptive-value('gap', 200, 100, 1920);
    padding: 40px 40px;

}