@import '../../common/variables.scss';
//-----------------------------------------


//-----------------------------------------vars


//-----------------------------------------vars


//-----------------------------------------styles
.photo {
    @extend %displayFlexDirection;
    justify-content: end;

    @include adaptive-value('padding-bottom', 50, 25, 1440);
}

.heading {
    @extend %displayComplect;
        max-width: 320px;
        @include adaptive-value('padding-bottom', 15, 10, 1440);
    
        .helloWorld {}
}

.location {
    position: relative;
    text-transform: uppercase;
    padding-left: 15px;
    &::after {
        content: '';
        position: absolute;
        top: 10%;
        left: 0%;
        width: 10px;
        height: 10px;
        background: rgb(23, 217, 23);
        border-radius: 50%;
    }

}

.content {
    @extend %display;
    align-items: end;
}

.image {
    max-width: 320px;
    @extend %images;
}

.name {
    flex: 1 1 auto;
    line-height: 1;
    text-transform: uppercase;
    @include adaptive-font(50, 25, 1440);
    max-width: 215px;
    @media (max-width:768px) {
        max-width: none;
    }
}