@import '../../common/variables.scss';
//-----------------------------------------


//-----------------------------------------vars


//-----------------------------------------vars


//-----------------------------------------styles
.photoContainer {
    margin-top: -100px;
    
        @media (max-width:968px) {
            margin-top: 0px;
        }
}

.helloWorld {
    @include adaptive-value('padding-bottom', 10, 5, 1440);
}

.heading {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
}

.location {
    position: relative;
    text-transform: uppercase;
    padding-left: 15px;

    &::after {
        content: '';
        position: absolute;
        top: 10%;
        left: 0%;
        width: 10px;
        height: 10px;
        background: rgb(23, 217, 23);
        border-radius: 50%;
    }

}

.contentBox {
    display: flex;
    align-items: flex-end;
    @include adaptive-value('gap', 10, 5, 1440);

    @media (max-width:768px) {
        align-items: flex-start;

        flex-direction: column;
    }
}

.imageContainer {
display: flex;
    align-items: baseline;
    position: relative;
    z-index: 3;
    max-width: 500px;
    @extend %images;
}

.name {
    line-height: 1;
    text-transform: uppercase;
    @include adaptive-font(50, 25, 1440);
    max-width: 215px;
    @media (max-width:768px) {
        max-width: none;
    }
}