@import '../../common/variables.scss';
//-----------------------------------------


//-----------------------------------------vars


//-----------------------------------------vars


//-----------------------------------------styles
.photo {
    @extend %displayFlexDirection;
    justify-content: end;
    @include adaptive-value('padding-bottom', 50, 25, 1440);

}

.heading {
    @extend %displayComplect;
    padding: 10px 0;
        max-width: 320px;
        @media (max-width:768px) {
                max-width: 280px;
            }
}

.location {
    position: relative;
    text-transform: uppercase;
    padding-left: 15px;
    &::after {
        content: '';
        position: absolute;
        top: 10%;
        left: 0%;
        width: 10px;
        height: 10px;
        background: rgb(23, 217, 23);
        border-radius: 50%;
    }

}

.content {
    @extend %display;
    gap: 20px;
    align-items: end;
    @media (max-width:768px) {
            flex-direction: column;
            align-items: start;
        }
}

.image {
    max-width: 320px;
    border-radius: 15px;
        overflow: hidden;
    @extend %images;
    @media (max-width:768px) {
            max-width: 280px;
        }
}

.name {
    flex: 1 1 auto;
    line-height: 1;
    text-transform: uppercase;
    @include adaptive-font(50, 25, 1440);

    max-width: 215px;
    @media (max-width:991px) {
            @include adaptive-value('padding-bottom', 30, 0, 1440);
        max-width: none;
    }
}