@import '../../../common/variables.scss';
//-----------------------------------------


//-----------------------------------------vars


//-----------------------------------------vars


//-----------------------------------------styles//-----------------------------------

@keyframes slide-in {
    0% {
        transform: rotate3d(-360deg)
    }

    50% {
        transform: translateX(0);
    }

    100% {
        transform: rotate3d(360deg)
    }
}

//-----------------------------------

.cubeBox {
    width: 400px;
        height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    animation: slide-in 2s;
        animation-delay: 0.3s;
}

.side {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    position: absolute;
    perspective: 3000px;
    backface-visibility: hidden;
}

.image {
    width: 100%;
    height: 100%;
    @extend %images;
}
.top {
    transform: rotateX(90deg) translateZ(200px);
}

.button {
    transform: rotateX(-90deg) translateZ(200px);
}

.left {
    background: #ffffff49;
        transform: rotateY(-90deg) translateZ(200px);
}

.right {
    transform: rotateY(90deg) translateZ(200px);
}

.front {
    transform: translateZ(200px);
}

.back {
    transform: rotateY(180deg) translateZ(200px) rotateZ(180deg);
}

.title {

}
