@import '../../common/variables.scss';
//-----------------------------------------


//-----------------------------------------vars


//-----------------------------------------vars


//-----------------------------------------styles

.heading {
    position: relative;
        z-index: -1;
    @extend %displayFlexDirection;
    gap: 20px;
    align-items: flex-end;
    margin-left: auto;
    max-width: 750px;
    transform: translateX();
    padding-bottom: 50px;
    @media (max-width:768px) {
        max-width: none;
        align-items: flex-start;
            text-align: left;
    }
}

.title {
    text-align: right;
    text-transform: uppercase;
    font-size: 120px;
        line-height: 1;
    @media (max-width:768px) {
        @include adaptive-font(120, 40, 1220);
        text-align: left;
    }
}

.subTitle {
    max-width: 590px;
    text-align: right;
    font-size: 14px;
        text-transform: uppercase;
    @media (max-width:768px) {
        text-transform: capitalize;
            text-align: left;
            align-self: flex-start;
    }
                                                        
}

//--------------------------------heading