@import '../../common/variables.scss';
//-----------------------------------------


//-----------------------------------------vars


//-----------------------------------------vars

.contacts {
    @include adaptive-value('padding-top', 20, 10, 1920);
    position: relative;
    width: 100%;
    z-index: 20;
}

.container {
    @extend %containerHome;
    padding-left: 0;
}

.list {
    @extend %display;
        @media (max-width:768px) {
                justify-content: space-between;
            }
}

.links {
    @extend %display;
    @include adaptive-value('gap', 15, 10, 1920);
}
.link {
    text-transform: uppercase;
    cursor: pointer;
}

.naw {
    @extend %display;
    gap: 10px;
    padding-left: 20px;
}