@import '../../common/variables.scss';
//-----------------------------------------


//-----------------------------------------vars


//-----------------------------------------vars


//-----------------------------------------styles
.home {
@extend %wrapper;
}

.main {
    @include adaptive-value('padding-left', 20, 10, 1440);
    @include adaptive-value('padding-right', 20, 10, 1440);
}

.firstScreen {
    height: 100vh;
    }
        .aboutScreen {
            @extend %displayCenter;
            height: 100vh;
        }
    
        .worksScreen {
    
            display: flex;
            align-items: center;
        }
    
        .footerScreen {
            @extend %displayCenter;
            height: 100vh;
        }
