@import '../../common/variables.scss';
//-----------------------------------------


//-----------------------------------------vars


//-----------------------------------------vars


//-----------------------------------------styles
.home {
@extend %wrapper;
}
.header {
    @include adaptive-value('padding-left', 20, 10, 1440);
    @include adaptive-value('padding-right', 20, 10, 1440);
}

.main {
    @extend %displayFlexDirection;
        justify-content: space-between;
    @include adaptive-value('padding-left', 20, 10, 1440);
    @include adaptive-value('padding-right', 20, 10, 1440);
        @include adaptive-value('padding-bottom', 50, 25, 1440);
}

.firstScreen {
    @extend %displayFlexDirection;
    height: 100vh;
        justify-content: space-between;
            @include adaptive-value('margin-bottom', 300, 100, 1920);
            @media (max-width:768px) {
                    justify-content: center;
                }
    }
 .aboutScreen {
    @extend %displayCenter;
    @include adaptive-value('margin-bottom', 300, 100, 1920);
    }
    
.worksScreen {

        @extend %display;
}
    
.footerScreen {
    @include adaptive-value('padding-top', 160, 80, 1440);
        @include adaptive-value('padding-bottom', 160, 80, 1440);
            @extend %displayCenter;
            
            }
