@import '../../common/variables.scss';
//-----------------------------------------


//-----------------------------------------vars


//-----------------------------------------vars


//-----------------------------------------styles



.container {
    @extend %displayFlexDirection;
    align-items: center;
    @include adaptive-value('gap', 50, 25, 1440);
}

.heading {}

.bigText {
    position: relative;
    max-width: 966px;
    z-index: -1;
font-size: 100px;
    text-transform: uppercase;
    text-align: center;
    @media (max-width:768px) {
            @include adaptive-font(100, 50, 1440);
        }
}

.mail {
    text-align: right;
}

.gmail {
    position: relative;
    z-index: 3;
    font-size: 30px;
    @extend %linkUserButtons;
    text-transform: uppercase;
    @media (max-width:768px) {
            @include adaptive-font(30, 15, 1440);
        }
}

.links {
    position: relative;
    z-index: 3;
    @extend %displayComplect;
    gap: 20px;
}

.github {
    @extend %linkUserButtons;
    @extend %display;
}

.linkedin {
    @extend %linkUserButtons;
    padding-left: 10px;
    @extend %display;
}


.linksSocial {
    @extend %display;
}

.linkKiska {
    @extend %display;
    gap: 20px;
}

.icon {

    font-size: 40px;
}