@import './components/common/variables.scss';
* {
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	
}


*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	color: gold;
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	line-height: 1;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

}



input,
button,
textarea {
	width: 100%;
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	background: transparent;
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a {
	text-decoration: none;
	list-style: none;
}

a:visited,
a:hover {
	text-decoration: none;
	list-style: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

input[tupe=text],
input[tupe=email],
input[tupe=tel] {
	-webkit-appearence: none;
	-moz-appearence: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	-webkit-appearence: none;
	-moz-appearence: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.input {
	border-radius: 0 !important;
	display: block;
	padding: 0 20px;
}

textarea.input {
	resize: none;
	padding: 0 0;
}

body {}

body._lock {
	overflow: hidden;
}

body._pc .menu__link:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	pointer-events: all;
}

body._touch .menu__link._active .menu__sub-list {
	-webkit-transform: translate(0px, 10px);
	transform: translate(0px, 10px);
	display: block;
}

._icon-arrow {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
}

//-------------------------------------------vars
body {
	font-family: "Inter";
		line-height: 1.3;
		position: relative;
}

body[data-theme='dark'] {
	transition: all 0.5s ease 0s;
	background: rgb(48, 46, 46);
	color: #d9d9d9;
		border: #000;

	a {
		color: #fff;
	}
#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: transparent;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

}

/* ---- stats.js ---- */
.count-particles {
	background: #d9d9d9;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;

	font-size: .8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.js-count-particles {
	font-size: 1.1em;
}

#stats,
.count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}

#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.count-particles {
	border-radius: 0 0 3px 3px;
}
}

body[data-theme='light'] {
	position: relative;
		transition: all 0.5s ease 0s;
		background: #d9d9d9;
		border: rgb(48, 46, 46);
			color: rgb(48, 46, 46)0;

	a {
		color: rgb(48, 46, 46)
	}
#particles-js {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: transparent;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;

}

/* ---- stats.js ---- */
.count-particles {
	background: #d9d9d9;
	position: absolute;
	top: 48px;
	left: 0;
	width: 80px;

	font-size: .8em;
	text-align: left;
	text-indent: 4px;
	line-height: 14px;
	padding-bottom: 2px;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.js-count-particles {
	font-size: 1.1em;
}

#stats,
.count-particles {
	-webkit-user-select: none;
	margin-top: 5px;
	margin-left: 5px;
}

#stats {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
}

.count-particles {
	border-radius: 0 0 3px 3px;
}
}

#root {
	z-index: 1;
}